<div class="grid-wrapper">
    <kendo-grid [data]="gridData" [resizable]="true">
        <kendo-grid-column [title]="'LB.ACTION' | translate" class="text-center" [width]="70" [columnMenu]="false">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <nz-button-group >
                            <button nz-button class="btn-light"  (click)="editHandler(dataItem)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button nz-button class="btn-light ml-1" (click)="removeHandler(dataItem)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </nz-button-group>
                    </ng-template>
                </kendo-grid-column>
        <kendo-grid-column  class="text-center"  field="ProductID" [title]="'HOME.PRO.ID' | translate" [width]="100">
        </kendo-grid-column>
        <kendo-grid-column field="ProductName" [title]="'HOME.PRO.NAME' | translate" [width]="250">
        </kendo-grid-column>
        <kendo-grid-column field="Category.CategoryName" [title]="'HOME.PRO.CAT' | translate"  [width]="250">
        </kendo-grid-column>
        <kendo-grid-column field="UnitPrice" [title]="'HOME.PRO.PRICE' | translate"  [width]="150">
        </kendo-grid-column>
        <kendo-grid-column  class="text-right"  field="UnitsInStock" [title]="'HOME.PRO.STOCK' | translate" [width]="100">
        </kendo-grid-column>
    </kendo-grid>
</div>