.full-height {
    height: 100% !important;
    // position: absolute;
    // left: 0px;
    // top: 0px;
    // right: 0px;
    // bottom: 0px;
}

iframe {
    border: none;
    min-height: 700px !important;
}

.tab-content {
    min-height: 700px !important;
}
