body {
    font-size: 14px;
    overflow-x: hidden;
    font-family: Rubik,sans-serif;
    color: #2b2b2b;
    font-weight: 400;
    line-height: 1.5;
}

.login-card {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: url(/assets/login/img/auth-bg.jpg);
    background-position: center;
    padding: 30px 12px;
    .login-main {
        width: 450px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 37px rgb(8 21 66 / 5%);
        margin: 0 auto;
        background-color: #fff;
    }
    .theme-form {
        h4 {
            font-size: calc(1.275rem + .3vw);
            margin-top: 0;
            margin-bottom: 5px;
            font-weight: 700;
            line-height: 1.2;
        }
        p {
            margin-top: 0;
            margin-bottom: 25px;
            font-size: 14px;
            color: #898989;
            line-height: 1.7;
        }
        .form-group {
            margin-bottom: 10px;
            position: relative;
        }
        .col-form-label {
            display: inline-block;
            padding-top: calc(.375rem + 1px);
            padding-bottom: calc(.375rem + 1px);
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1.5;
        }
        .form-control {
            display: block;
            width: 100%;
            padding: 12px 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            color: #898989;
            background-color: #f3f3ff;
            background-clip: padding-box;
            border: 1px solid #efefef;
            appearance: none;
            border-radius: .25rem;
            transition: all 0.3s ease;
            box-shadow: none;
            outline: 0;
            &:hover, &:focus {
                border: 1px solid #b9c1cc;
                transition: all 0.3s ease;
            }
        }
        .btn-login {
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            border: 1px solid transparent;
            border-radius: .25rem;
            color: #fff;
            width: 100%;
            background-color: #7366ff !important;
            border-color: #7366ff !important;
            padding: 0.375rem 1.75rem;
            cursor: pointer;
        }
        .text-muted {
            color: #6c757d;
            display: inline-block;
            position: relative;
            padding-left: 10px;
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: 10px;
            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 19px;
                height: 19px;
                left: 0;
                margin-left: -16px;
                border-radius: 3px;
                transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                background-color: #f9f9fa;
                border: 1px solid #dfdfdf;
            }
        }
        .link {
            position: absolute;
            top: 10px;
            right: 0;
        }
        input[type=checkbox], input[type=radio] {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
            background-color: #f3f3ff;
            transition: all 0.3s ease;
            opacity: 0;
            &:checked+label::before {
                background-color: #7366ff;
            }
        }
    }
}

a {
    color: #7366ff;
    text-decoration: none;
}

.text-center {
    text-align: center;
}
