<form class="m-form" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group m-form__group col-6">
            <label> {{ 'HOME.CUS.HOTEN' | translate }} </label>
            <input type="text" class="m-input form-control" formControlName="hoTen" />
        </div>
        <div class="form-group m-form__group col-6">
            <label> {{ 'HOME.CUS.SDT' | translate }} </label>
            <input type="text" class="m-input form-control" formControlName="soDienThoai" />
        </div>
        <div class="form-group m-form__group col-6">
            <label> {{ 'HOME.CUS.DIA_CHI' | translate }} </label>
            <input type="text" class="m-input form-control" formControlName="diaChi" />
        </div>
        <div class="form-group m-form__group col-6">
            <label> {{ 'HOME.CUS.EMAIL' | translate }} </label>
            <input type="text" class="m-input form-control" formControlName="email" />
        </div>
        <div class="form-group m-form__group col-6">
            <label> {{ 'HOME.CUS.LOAI_KH' | translate }} </label>
            <input type="text" class="m-input form-control" formControlName="loaiKhachHang" />
        </div>
    </div>
    <div class="text-right border-form-footer">
        <button type="button" (click)="closeForm()" class="btn_custom btn_df mr-1">{{ 'BTN.CANCEL' | translate
            }}</button>
        <button type="submit" class="btn_custom btn_add">{{ 'BTN.SAVE' | translate }}</button>
    </div>
</form>