<div class="m-portlet__head d-flex align-items-center">
    <button class="btn_custom btn_df" (click)="onExportExcel()">
        <div [innerHTML]="'download.svg' | vnuIcon | safeHtml: 'html'"></div>
        <span class="text">{{ 'BTN.EXCEL' | translate }}</span>
    </button>
    <button class="btn_custom btn_add" (click)="addHandler()">
        <div [innerHTML]="'plus.svg' | vnuIcon | safeHtml: 'html'"></div>
        <span class="text">{{ 'BTN.ADD' | translate }}</span>
    </button>
    <button class="btn_custom btn_remove" (click)="removeSelectedHandler()" [disabled]="selectionIds.length < 1">
        <div [innerHTML]="'trash.svg' | vnuIcon | safeHtml: 'html'"></div>
        <span class="text">{{ 'BTN.DELETE' | translate }}</span>
    </button>
</div>
<div class="grid-wrapper">
    <kendo-grid [data]="gridView$ | async" 
                [resizable]="true"
                [pageSize]="gridState.take" 
                [skip]="gridState.skip"
                [loading]="isLoading" 
                [pageable]="true" 
                [resizable]="true" 
                kendoGridSelectBy="id"
                [selectedKeys]="selectionIds" 
                (dataStateChange)="onStateChange($event)">
        <kendo-grid-checkbox-column [showSelectAll]="true" [width]="60" [columnMenu]="false">
        </kendo-grid-checkbox-column>
        <kendo-grid-column [title]="'LB.ACTION' | translate" class="text-center" [width]="100" [columnMenu]="false">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <nz-button-group >
                    <button nz-button class="btn-light ml-2"  (click)="editHandler(dataItem)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button nz-button class="btn-light" (click)="removeHandler(dataItem)">
                        <i class="fa fa-trash"></i>
                    </button>
                </nz-button-group>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column  class="text-center"  field="id" [title]="'HOME.CUS.ID' | translate">
        </kendo-grid-column>
        <kendo-grid-column field="hoTen" [title]="'HOME.CUS.HOTEN' | translate" >
        </kendo-grid-column>
        <kendo-grid-column field="ngaySinh" [title]="'HOME.CUS.NGAY_SINH' | translate" >
        </kendo-grid-column>
        <kendo-grid-column field="gioiTinh" [title]="'HOME.CUS.GIOI_TINH' | translate">
        </kendo-grid-column>
        <kendo-grid-column field="soDienThoai" [title]="'HOME.CUS.SDT' | translate" >
        </kendo-grid-column>
        <kendo-grid-column field="email" [title]="'HOME.CUS.EMAIL' | translate" >
        </kendo-grid-column>
        <ng-template kendoGridDetailTemplate let-dataItem>
            <section>
                <div class="row" *ngIf="dataItem.hoTen != null && dataItem.hoTen != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label"
                                >{{ 'HOME.CUS.HOTEN' | translate }}
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.hoTen }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="dataItem.ngaySinh != null && dataItem.ngaySinh != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label"
                                >{{ 'HOME.CUS.NGAY_SINH' | translate }}
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.ngaySinh }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="dataItem.gioiTinh != null && dataItem.gioiTinh != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label"
                                >{{ 'HOME.CUS.GIOI_TINH' | translate }}
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.gioiTinh }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="dataItem.diaChi != null && dataItem.diaChi != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label"
                                >{{ 'HOME.CUS.DIA_CHI' | translate }}
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.diaChi }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="dataItem.soDienThoai != null && dataItem.soDienThoai != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label"
                                >{{ 'HOME.CUS.SDT' | translate }}
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.soDienThoai }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="dataItem.email != null && dataItem.email != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label"
                                >{{ 'HOME.CUS.EMAIL' | translate }}
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.email }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="dataItem.loaiKhachHang != null && dataItem.loaiKhachHang != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label"
                                >{{ 'HOME.CUS.LOAI_KH' | translate }}
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.loaiKhachHang }}
                            </label>
                        </div>
                    </div>
                </div>
            </section>
        </ng-template>
    </kendo-grid>
</div>
<div class="k-overlay" *ngIf="opened"></div>
<div class="wrapper form-layouts">
    <div kendoWindowContainer></div>
</div>